<div class="container">
  <div class = "row">
    <h3><%= markdown(@wiki.title) %></h3>
    <p><%= markdown(@wiki.body) %></p>
    <p><% if policy(@wiki).update? %>
      <p><%= link_to "Edit Wiki", edit_wiki_path(@wiki) %>
    <% end %>
    <% if policy(@wiki).destroy? %>
      | <%= link_to "Delete Wiki", @wiki, method: :delete, data: { confirm: "Are you sure?" } %></p>
    <% end %>
    <p><%= link_to "<< Return to All Wikis", wikis_path %></p>
  </div>
</div>
